/* ====================================== */

/* Site Footer - Footer style definitions */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    // color: hsl(228, 45%, 44%);
    color: $clr-very-dark-blue;

    &:hover {
        color: $clr-cyan;
    }
}

/* END Site Footer */